<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/homestyle.css">
</head>
<body style="color: white;">
    <h1 style="text-align: center;">Results Mailed Successfully</h1>
   
        <!-- {% for row in results %}
          {{row}}<br>
        {% endfor %} -->
        <div style="float: right;">
        <div style="float: middle;">{{results | safe }}</div>
        
    <div >
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </button>
    </div>
    </div>
</body>
</html>