<!-- <!DOCTYPE html>

value="{{request.form.username }}"

value="{{request.form.password }}"

href= "{{ url_for('static',filename='css/homestyle.css') }}"

</html> -->
<html>
  <head>

    <title>results through email</title>
    <link rel="stylesheet" href="../static/css/homestyle.css" >
  
  </head>
  <body>

      <form class="box" action="/login" method="post">
        <h1>Login</h1>
        <br>
        <input type="text" placeholder="Username" name="username" >
        <input type="password" placeholder="Password" name="password" >
        <input class="btn btn-default" type="submit" value="Login">
        {% if error %}
        <h4> {{ error }} </h4>
        {% endif %}
      </form>
      <div>
      
      <div>

  </body>
</html>