<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

        <title>Document</title>
        <link rel="stylesheet" href="../static/css/homestyle.css">
</head>
<body>
        <form  class="box1" action="sub" method="POST" >
   
                <p ><strong>Hi </strong> {{ username }}
                
                <br>
            
                <input type="file" name="datacsv"  >
        
                <br>
                
                <input type="submit" value="submit csv">
           
        </form> 
</body>
</html>
